body {
    background: #FFFFFF;
    font-size: 20px;
}
#registration {
    width: 300px;
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../img/hexellence.png");
    padding: 50px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(33,179,184,1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(33,179,184,1);
    box-shadow: 3px 3px 30px 5px rgba(33,179,184,1);
}

input[type=text],
input[type=password]
{
    width: 300px;
    background-color: #FFFFFF;
    color: #666;
    border:2px solid #dddddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 15px;
}
input[type=text]:focus,
input[type=password]:focus {
    -webkit-box-shadow: 3px 3px 10px 2px rgba(33,58,184,0.9);
    -moz-box-shadow: 3px 3px 10px 2px rgba(33,58,184,0.9);
    box-shadow: 3px 3px 10px 2px rgba(33,58,184,0.9);
    /*border: 2px solid springgreen ;*/
    color: #428c42;
}

input[type=submit] {

    margin-left: 75px;
    width: 150px;
    background-color: #36b03c;
    color:#FFFFFF;
    font-size: 15px;
    padding: 15px 10px;
    margin-top:20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}
input[type=submit]:focus {
    -webkit-box-shadow: 3px 3px 15px 5px rgba(184,33,71,0.9);
    -moz-box-shadow: 3px 3px 15px 5px rgba(184,33,71,0.9);
    box-shadow: 3px 3px 15px 5px rgba(184,33,71,0.9);
}
input[type=submit]:hover {
    background-color: #37b91a;
}
input::-webkit-input-placeholder {
    color:springgreen;
}
input:focus::-webkit-input-placeholder {
    color: #428c42;