body {
    margin: 0;
    background-color: #080c10;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
table {
    border-collapse: collapse;
    width: 99.5%;

}
th {
    background-color: #1f2833;
    color: #66fcf1;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
}
td {
    border-bottom: 1px solid #45a29e;
    color: #45a29e;
    font-size: 16px;
    font-weight: bold;
    height: 126px
}
a {
    text-decoration: none;
    color: #c5c6c7;
}
a:hover {
    color: #45a29e;
}

.button {
    display: inline-block;
    margin: 4px;
    background-color: #66fcf1;
    border: none;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #45a29e;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}
.orangutan{
    width: 100%;
    height: 280px;
}
textarea {
    width: 99%;
    height: 200px;
    padding: 12px 20px;
    margin: 2px;
    box-sizing: border-box;
    background-color: #1f2833;
    resize: none;
    border: none;
    font-size: 16px;
    color: #c5c6c7;
        }
#Title {
    width: 20%;
    height: 50px;
    padding: 12px;
    margin: 2px;
    box-sizing: border-box;
    border: none;
    resize: none;
    background-color: #1f2833;
    font-size: 16px;
    color: #c5c6c7;
    position: relative;
    left: 40%;
    font-weight: bold;
}
label {
    color: #66fcf1;
}
#Title_label {
    color: #66fcf1;
    position: relative;
    left: 47.5%;
    font-size: 22px;
}
#description {
    color: #66fcf1;
    position: relative;
    left: 44%;
    font-size: 22px;
}
#button_submit {
    display: inline-block;
    margin: 4px;
    background-color: #66fcf1;
    border: none;
    border-radius: 8px;
    padding: 12px ;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: #45a29e;
    font-weight: bold;
    position: relative;
    left: 48%;
    top: 50px;
}
.button2 {
    display: inline-block;
    margin: 4px;
    background-color: #66fcf1;
    border: none;
    border-radius: 8px;
    padding: 20px 32px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    color: #45a29e;
    font-weight: bold;
    position: relative;
    left: 48%;
    top: 350px;
}

#display_question_title {
    color: #66fcf1;
    font-weight: bold;
    font-size: 64px;
    height: 100px;
}

#display_question_message {
    color: #c5c6c7;
    font-weight: normal;
    font-size: 32px;
}

#button_submit2 {
    display: inline-block;
    margin: 4px;
    background-color: #66fcf1;
    border: none;
    border-radius: 8px;
    padding: 20px 32px;
    width: 170px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    color: #45a29e;
    font-weight: bold;
    position: relative;
    left: 90%;
}

#delete_button {
    display: inline-block;
    margin: 4px;
    background-color: #66fcf1;
    border: none;
    border-radius: 8px;
    padding: 20px 32px;
    width: 190px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    color: #45a29e;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 0px
}