<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}", media="all"/>
</head>
<body>
    <img class="orangutan" src="/static/XD.jpg">
    <table>
        {% for title in titles %}
            <th>{{ title }}</th>
        {% endfor %}
        {% for dictionary in questions %}
            <tr>
                {% for key, value in dictionary.items() %}
                    {% if key == 'id' or key == 'message'  %}
                        <td>{{ dictionary.get(key) }}</td>
                    {% elif key =='title' %}
                        <td><a href="{{ url_for('display_question', id = dictionary['id']) }}">{{ dictionary.get(key) }}</a></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a class="button" href="{{ url_for('add_question') }}">ADD QUESITON</a>
</body>
</html>