<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <style>
        table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  background-color: #4287f5;
  color: white;
}

th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

h2 {
  color: #4287f5;
}
    </style>
</head>
<body>
    <table>
        {% for title in titles %}
            <th>{{ title }}</th>
        {% endfor %}
        {% for row in questions %}
            <tr>
                {% for value in row %}
                    <td><a href="{{ url_for('display_question', id = row[0]) }}">{{ value }}</a></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_question') }}">ADD QUESITON</a>
</body>
</html>