<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}", media="all"/>
</head>
<body>
    <img class="orangutan" src="/static/XD.jpg">
        <div>
        <form action="{{ url_for('index') }}">
            <label for="search_bar">Search: </label>
            <input type="text" id="search_bar" name="search">
            <button type="submit">submit</button>
        </form>
    </div>
    <div>
        <table>
            {% for key, value in titles.items() %}
                <th>{{ value }}<br>
                    <form action="{{ url_for('sort_questions') }}" method="post">
                    <input type="hidden" name="order_by" value="{{ key }}">
                    <select onchange="this.form.submit()" id="order" name="order">
                        <option value="ASC">ASCENDING</option>
                        <option value="DESC">DESCENDING</option>
                    </select>
                </form>
                </th>
            {% endfor %}
            {% for dictionary in questions %}
                <tr>
                    {% for key, value in dictionary.items() %}
                        {% if key != 'id' and key !='title' and key !='image' %}
                            <td>{{ dictionary.get(key) }}</td>
                        {% elif key =='title' %}
                            <td><a href="{{ url_for('display_question', id = dictionary['id']) }}">{{ dictionary.get(key) }}</a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{{ url_for('create_user') }}">Register</a>
    <a class="button" href="{{ url_for('add_question') }}">ADD QUESTION</a>
    <a href="{{ url_for('list_questions') }}">See all questions</a>
    <a href="{{ url_for('index') }}">HOME</a>
</body>
</html>