 <nav class="nav-bar">
    <div class="container">
    <ul>
        <li><a href="{{ url_for('index') }}"> Home </a></li>
        <li><a href="{{ url_for('add_question') }}"> Add Question</a></li>
        <li><a href="{{ url_for('list_questions') }}"> Full Questions List </a></li>
                {% if session %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {%  else %}
                    <li><a href="{{ url_for('chosen_one') }}">Log in</a></li>
                {% endif %}
        <li>
            <form action="{{ url_for('index') }}">
            <input class="search_bar" type="text" id="search_bar" name="search">
            <button class="search_button" type="submit">Search</button>
            </form>
        </li>
    </ul>
    </div>
</nav>