



<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}", media="all"/>
</head>

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<h3>{{ title }}</h3>
<body>
    <div id="registration">
        {% if login %}
            <form action="{{ url_for('login') }}", method="post">
        {%  else %}
            <form action="{{ url_for('create_user') }}", method="post">
        {% endif %}
            <input type="text" placeholder="login" name="login" onfocus="this.placeholder=''" onblur="this.placeholder='login'">
			<input type="password" placeholder="password" name="password" onfocus="this.placeholder=''" onblur="this.placeholder='password'">
        {% if login  %}
            <input type="submit" value="Log in" >
        {% else %}
			<input type="submit" value="Register" >
        {% endif %}

            </form>

    </div>
</body>

{% endblock %}