{%  extends 'layout_2.html' %}
{% block title %}registration{% endblock %}

{% block content %}

{#    <div style="background-image: url(../static/img/morph.jpg);"></div>#}
    <div id="registration">
        {% if login %}
            <form action="{{ url_for('login') }}", method="post">
        {%  else %}
            <form action="{{ url_for('create_user') }}", method="post">
        {% endif %}
            <div class="input-icons"><i class="fa fa-user icon"></i>
                <input class="input-field" type="text" placeholder="login" name="login" required minlength="5" onfocus="this.placeholder=''" onblur="this.placeholder='login'">
			</div>
			<div class="input-icons"><i class="fa fa-key icon"></i>
                <input class="input-field" type="password" placeholder="password" name="password" required minlength="5"  onfocus="this.placeholder=''" onblur="this.placeholder='password'">
			</div>
        {% if login  %}
            <input type="submit" value="Log in" >
        {% else %}
			<input type="submit" value="Register" >
        {% endif %}

            </form>

    </div>

{% endblock content %}
